*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* color: rgba(255, 255, 255, 0); */
}
#root{
    width: 100%;
    height: 100vh; 
}
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title{
    position: absolute;
}
.title h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10rem;
    letter-spacing:10px;
}
.title h3{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    letter-spacing:10px;
    text-align: center;
}
